{% extends 'base.html' %}

{% block title %}Participa de um Projeto de Leitura{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Você participa de algum projeto de leitura?</h2>
    <form method="POST">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="participa_projeto" id="sim" value="sim" required>
            <label class="form-check-label" for="sim">
                Sim
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="participa_projeto" id="nao" value="nao">
            <label class="form-check-label" for="nao">
                Não
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>
</div>
{% endblock %}
